<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyBroadcastReceiverActivity"></activity>


        <service
            android:name=".services.MyBoundService"
            android:exported="false" /> <!-- <service android:name=".services.MyBoundService" /> -->
        <service
            android:name=".services.MyMessengerService"
            android:exported="false"
            android:process=":my_own_process" />

        <activity android:name=".MyServices2Activity" />

        <service android:name=".services.MyStartedService" />
        <service android:name=".services.MyIntentService" />

        <activity android:name=".MyServicesActivity" />
        <activity android:name=".SurveyActivity" />
        <activity android:name=".ListTagActivity" />
        <activity android:name=".Test" />
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".ListRestaurantDishesActivity"
            android:label="Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListDishesActivity"
            android:label="@string/title_activity_list_dishes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />

        <receiver android:name=".receivers.MySecondReceiver">
            <intent-filter>
                <action android:name="my.custom.action.name"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.MyFirstReceiver" >
            <intent-filter>
                <action android:name="my.custom.action.name" ></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".MyBroadcastReceiverActivity$MyThirdReceiverInner">
            <intent-filter>
                <action android:name="my.custom.action.name"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>